<?xml version="1.0" encoding="UTF-8"?>
<config>
	<registers>
		<reg name='ra'>9</reg>
	</registers>
	<asize>9</asize>
	<csize>5</csize>
	<osize>9</osize>
	<ocount>3</ocount>
	<start path='/home/tom/source/emulator/src/config/start.xml'/>
	<beat path='/home/tom/source/emulator/src/config/beat.xml'/>
	<commandos path='/home/tom/source/emulator/src/config/commands.xml'/>
</config>
